---
import Image from '~/components/common/Image.astro';
import { credits } from '~/content/cv/credits';



---

<dialog id="credits-modal" class="modal modal-bottom sm:modal-middle bg-page">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" style="line-height:0.3">✕</button>
    </form>

    <h3 class="font-bold text-lg">Open Source Credits</h3>
    <p>This site is built on and extends the excellent work of many contributors to the open source community:</p>
    <table class="table-auto text-sm mt-2">
      <thead>
        <th class="px-4 text-left">Site Role</th>
        <th class="px-4 text-left">Attribution</th>
      </thead>
      <tbody>
        {
          credits.map(({ role, label, href, image }) => (
            <tr>
              <td class="px-4 text-left">{role}:</td>
              <td class="px-4 text-left">
                <a href={href} target="_blank ">
                  <Image src={image} alt=`Icon representation of ${label}` width="20"
                      height="20"
                      decoding="async"
                      loading="lazy"
                      class="mr-2 inline-block"/>
                  {label}
                </a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
